<div class="container">
	<h2>Список контрагентов</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Отчество</th>
				<th>Дата рождения</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let contractor of contractors">
				<td>{{ contractor.firstName }}</td>
				<td>{{ contractor.lastName }}</td>
				<td>{{ contractor.middleName }}</td>
				<td>{{ contractor.dateOfBirth | date:'dd.MM.yyyy' }}</td>
				<td>
					<a [routerLink]="['/contractors/details', contractor.id]" class="btn btn-info">Просмотр</a>
					<a [routerLink]="['/contractors/edit', contractor.id]" class="btn btn-warning">Редактировать</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a routerLink="/contractors/new" class="btn btn-success">Добавить контрагента</a>
</div>