/* Специфические стили для формы поиска */
.row.mb-2 {
	display: flex;
	flex-direction: column;
	gap: 0px !important;
	width: 400px !important;
	margin: 0 !important;
	padding: 0px !important;
}

.col-md-3 {
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	margin-bottom: -20px !important;
}

/* Распределение ширины столбцов - Contractor Table */
.contractor-table th:nth-child(1),
.contractor-table td:nth-child(1) {
	width: 3%;
}

.contractor-table th:nth-child(2),
.contractor-table td:nth-child(2) {
	width: 3%;
}

.contractor-table th:nth-child(3),
.contractor-table td:nth-child(3),
.contractor-table th:nth-child(4),
.contractor-table td:nth-child(4) {
	width: 15%;
}

.contractor-table th:nth-child(5),
.contractor-table td:nth-child(5),
.contractor-table th:nth-child(6),
.contractor-table td:nth-child(6),
.contractor-table th:nth-child(7),
.contractor-table td:nth-child(7),
.contractor-table th:nth-child(8),
.contractor-table td:nth-child(8) {
	width: 15%;
}

.contractor-table th:nth-child(9),
.contractor-table td:nth-child(9),
.contractor-table th:nth-child(10),
.contractor-table td:nth-child(10) {
	width: 8%;
}

.contractor-table th:nth-child(11),
.contractor-table td:nth-child(11) {
	width: 150px;
}