<div class="sidebar">
	<div class="brand">Бюро пропусков v0.01</div>
	<div class="nav-list-wrapper">
		<mat-nav-list>
			<ng-container *ngFor="let item of data; let i = index">
				<div class="nav-item" [class.active]="item.isActive">
					<button class="nav-button-header" [routerLink]="!item.childProperties ? item.routerLink : null"
						(click)="item.childProperties ? toggleAccordionState(i) : null">
						<span>{{ item.parentName }}</span>
						<mat-icon *ngIf="item.childProperties" class="rotate-icon"
							[ngClass]="{'active': item.isActive}">arrow_drop_down</mat-icon>
					</button>
					<ul *ngIf="item.childProperties && hasAccessToChild(item.childProperties)"
						class="accordion-sub-menu" [ngClass]="{'active': item.isActive}">
						<li *ngFor="let child of item.childProperties">
							<ng-container *ngIf="hasRole(getRequiredRole(child.propertyName))">
								<a class="sub-menu-link" [routerLink]="getRouterLink(child.propertyName)" matRipple>
									{{ child.propertyName }}
								</a>
							</ng-container>
						</li>
					</ul>
				</div>
			</ng-container>
		</mat-nav-list>
	</div>
</div>