body {
	background: linear-gradient(135deg, rgba(30, 29, 31, 1) 0%, rgba(223, 64, 90, 1) 100%);
}

.box {
	width: 330px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box-form {
	width: 320px;
	z-index: 1;
}

.box-login {
	background: #fdfdfd;
	text-align: center;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.box-login h2 {
	font-size: 20px;
	color: #032942;
}