<div class="box">
	<div class="box-form">
		<div class="box-login">
			<h2>Вход</h2>
			<form (ngSubmit)="login()">
				<div class="form-group">
					<label for="username">Логин</label>
					<input type="text" id="username" [(ngModel)]="username" name="username" required />
				</div>
				<div class="form-group">
					<label for="password">Пароль</label>
					<input type="password" id="password" [(ngModel)]="password" name="password" required />
				</div>
				<button type="submit" class="b-cta">Войти</button>
			</form>
		</div>
	</div>
</div>