<div class="main-content">
	<mat-card class="section-card">
		<mat-card-header>
			<mat-card-title class="section-title">Добавить запись в справочник "Этаж"</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-card *ngIf="errorMessage" class="error-message mt-4" role="alert">
				<mat-icon>error_outline</mat-icon>
				{{ errorMessage }}
			</mat-card>

			<form [formGroup]="floorForm" (ngSubmit)="addFloor()" class="create-form">
				<mat-grid-list cols="3" rowHeight="80px" gutterSize="8px">
					<mat-grid-tile>
						<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
							<mat-label>Название этажа *</mat-label>
							<input matInput id="floorName" type="text" placeholder="Введите название этажа"
								formControlName="floorName" />
							<mat-icon matSuffix>meeting_room</mat-icon>
							<mat-error
								*ngIf="floorForm.get('floorName')?.invalid && floorForm.get('floorName')?.touched">
								Название этажа обязательно
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>
				</mat-grid-list>

				<div class="d-flex justify-content-between gap-2 mt-4">
					<button mat-raised-button color="primary" class="action-btn" type="submit"
						[disabled]="floorForm.invalid" matTooltip="Добавить этаж">
						Добавить
					</button>
					<button mat-stroked-button color="accent" class="action-btn" type="button" (click)="cancel()"
						matTooltip="Отменить добавление">
						Отменить
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>