<div class="container mt-4">
	<h2>Детали этажа № {{ floor?.id }}</h2>

	<div class="form-group">
		<p><strong>Сортировка:</strong> {{ floor?.sortOrder }}</p>
	</div>

	<div class="form-group">
		<p><strong>Название:</strong> {{ floor?.name }}</p>
	</div>

	<div class="form-group">
		<p><strong>Дата создания: </strong> {{ floor?.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}
		</p>
	</div>

	<div class="form-group">
		<p><strong>Архивирован: </strong> {{ floor?.isArchived ? 'Да' : 'Нет' }}
		</p>
	</div>

	<div class="form-group">
		<button class="btn btn-primary" (click)="editFloor()">Редактировать</button>
	</div>
</div>