<div class="container mt-4">
	<h2>Детали здания № {{ building?.id }}</h2>

	<div class="form-group">
		<p><strong>Сортировка:</strong> {{ building?.sortOrder }}</p>
	</div>

	<div class="form-group">
		<p><strong>Название:</strong> {{ building?.name }}</p>
	</div>

	<div class="form-group">
		<p><strong>Дата создания: </strong> {{ building?.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}
		</p>
	</div>

	<div class="form-group">
		<p><strong>Архивирован: </strong> {{ building?.isArchived ? 'Да' : 'Нет' }}
		</p>
	</div>

	<div class="form-group">
		<button class="btn btn-primary" (click)="editBuilding()">Редактировать</button>
	</div>
</div>