<!-- src/app/components/queue/queue.component.html -->
<div class="queue-container">
	<h2>Список Талонов Очереди</h2>

	<button (click)="onCreateTransaction()" class="btn btn-primary">Взять новый талон</button>

	<table class="table table-striped mt-3">
		<thead>
			<tr>
				<th>Код</th>
				<th>Дата</th>
				<th>Талон</th>
				<th>Тип услуги</th>
				<th>Окно</th>
				<th>Статус</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let transaction of transactions">
				<td>{{ transaction.id }}</td>
				<td>{{ transaction.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</td>
				<td>{{ transaction.token }}</td>
				<td>{{ transaction.tokenType }}</td>
				<td>{{ transaction.storeId }}</td>
				<td>{{ transaction.status }}</td>
				<td>
					<button (click)="onCloseToken(transaction.token)" class="btn btn-sm btn-danger">Закрыть</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>