<div class="main-content">
	<mat-card class="section-card">
		<mat-card-header>
			<mat-card-title class="section-title">Создание новой торговой точки</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-card *ngIf="errorMessage" class="error-message mt-4" role="alert">
				<mat-icon>error_outline</mat-icon>
				<p>{{ errorMessage }}</p>
			</mat-card>

			<form [formGroup]="storeForm" (ngSubmit)="createStore()" class="create-form">
				<mat-grid-list cols="3" rowHeight="80px" gutterSize="8px">
					<mat-grid-tile>
						<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
							<mat-label>Здание *</mat-label>
							<input matInput formControlName="building" readonly placeholder="Выбранное здание" />
							<mat-icon matSuffix (click)="openModal('building', 'select')" class="action-icon"
								matTooltip="Выбрать здание">search</mat-icon>
							<mat-icon matSuffix (click)="openModal('building', 'add')" class="action-icon"
								matTooltip="Добавить здание">add</mat-icon>
							<mat-error *ngIf="storeForm.get('building')?.invalid && storeForm.get('building')?.touched">
								Здание обязательно.
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
							<mat-label>Этаж *</mat-label>
							<input matInput formControlName="floor" readonly placeholder="Выбранный этаж" />
							<mat-icon matSuffix (click)="openModal('floor', 'select')" class="action-icon"
								matTooltip="Выбрать этаж">search</mat-icon>
							<mat-icon matSuffix (click)="openModal('floor', 'add')" class="action-icon"
								matTooltip="Добавить этаж">add</mat-icon>
							<mat-error *ngIf="storeForm.get('floor')?.invalid && storeForm.get('floor')?.touched">
								Этаж обязателен.
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
							<mat-label>Линия *</mat-label>
							<input matInput formControlName="line" readonly placeholder="Выбранная линия" />
							<mat-icon matSuffix (click)="openModal('line', 'select')" class="action-icon"
								matTooltip="Выбрать линию">search</mat-icon>
							<mat-icon matSuffix (click)="openModal('line', 'add')" class="action-icon"
								matTooltip="Добавить линию">add</mat-icon>
							<mat-error *ngIf="storeForm.get('line')?.invalid && storeForm.get('line')?.touched">
								Линия обязательна.
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
							<mat-label>Торговая точка *</mat-label>
							<input matInput formControlName="storeNumber" readonly
								placeholder="Выбранная торговая точка" />
							<mat-icon matSuffix (click)="openModal('storeNumber', 'select')" class="action-icon"
								matTooltip="Выбрать торговую точку">search</mat-icon>
							<mat-icon matSuffix (click)="openModal('storeNumber', 'add')" class="action-icon"
								matTooltip="Добавить торговую точку">add</mat-icon>
							<mat-error
								*ngIf="storeForm.get('storeNumber')?.invalid && storeForm.get('storeNumber')?.touched">
								Торговая точка обязательна.
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile>
						<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
							<mat-label>Номер сортировки *</mat-label>
							<input matInput type="number" formControlName="sortOrder" min="0" />
							<mat-error
								*ngIf="storeForm.get('sortOrder')?.invalid && storeForm.get('sortOrder')?.touched">
								Номер сортировки должен быть неотрицательным.
							</mat-error>
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile [colspan]="3" [rowspan]="2">
						<div class="note-container">
							<mat-form-field appearance="fill" class="full-width note-textarea-field" floatLabel="auto">
								<mat-label>Заметка</mat-label>
								<textarea matInput formControlName="note" maxlength="500" placeholder="Введите заметку"
									aria-label="Заметка о торговой точке" cdkTextareaAutosize [cdkAutosizeMinRows]="7"
									[cdkAutosizeMaxRows]="7"></textarea>
								<mat-error
									*ngIf="storeForm.get('note')?.hasError('maxlength') && storeForm.get('note')?.touched">
									Заметка не должна превышать 500 символов.
								</mat-error>
							</mat-form-field>
						</div>
					</mat-grid-tile>
				</mat-grid-list>

				<div class="d-flex justify-content-between gap-2 mt-4">
					<button mat-raised-button color="primary" class="action-btn" type="submit"
						[disabled]="storeForm.invalid" matTooltip="Создать торговую точку">Создать</button>
					<button mat-stroked-button color="accent" class="action-btn" type="button" (click)="navigateBack()"
						matTooltip="Отменить создание">Отмена</button>
				</div>
			</form>

			<app-store-select-or-add-modal *ngIf="isModalOpen" [fieldName]="modalField" [mode]="modalMode"
				(modalClose)="closeModal()" (itemSelected)="selectItem($event)" (itemAdded)="addItem($event)">
			</app-store-select-or-add-modal>
		</mat-card-content>
	</mat-card>
</div>