<mat-card class="floating-token-content" cdkDrag>
	<mat-card-header cdkDragHandle> <mat-card-title class="section-title">{{ tokenData?.token }}</mat-card-title>
	</mat-card-header>
	<mat-card-content cdkDragHandle>
		<ng-container *ngIf="tokenData">
			<div class="additional-actions">
				<button mat-button color="primary" (click)="navigateToSearch()">
					Вернуться в поиск
				</button>
				<button mat-button color="primary" (click)="navigateToCreateTransaction()">
					Вернуться в транзакцию
				</button>
				<button mat-raised-button color="warn" class="action-btn" (click)="onCloseTokenOnServer()"
					matTooltip="Закрыть талон">
					Закрыть талон
				</button>
			</div>
		</ng-container>
	</mat-card-content>
</mat-card>