<form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
	<div *ngIf="errorMessage" class="error-message">
		{{ errorMessage }}
	</div>

	<label for="building">Здание:</label>
	<input id="building" formControlName="building">

	<label for="floor">Этаж:</label>
	<input id="floor" formControlName="floor">

	<label for="line">Линия:</label>
	<input id="line" formControlName="line">

	<label for="number">Номер торговой точки:</label>
	<input id="number" formControlName="number">

	<label for="contractorId">Закрепленный контрагент (ID):</label>
	<input id="contractorId" formControlName="contractorId">

	<button type="submit" [disabled]="storeForm.invalid">Сохранить</button>
</form>