<div class="container contractor-details">
	<h2>Редактирование группы пропусков</h2>
	<form (ngSubmit)="updateGroup()">
		<div class="form-group">
			<label for="name">Название:</label>
			<input id="name" type="text" class="form-control" [(ngModel)]="group.name" name="name"
				placeholder="Введите название группы" required />
		</div>

		<div class="form-group">
			<label for="color">Цвет:</label>
			<input id="color" type="color" class="form-control" [(ngModel)]="group.color" name="color" />
		</div>

		<div class="form-group mt-4">
			<button type="submit" class="btn btn-primary" [disabled]="!group.name ">
				Сохранить
			</button>
			<button type="button" class="btn btn-secondary" routerLink="/pass-groups">Отмена</button>
		</div>
	</form>
</div>