<!-- src/app/components/queue/active-token/active-token.component.html -->
<div class="active-token-container" *ngIf="activeToken; else noActiveToken">
	<h3>Ваш Активный Талон</h3>
	<p><strong>Талон:</strong> {{ activeToken.token }}</p>
	<p><strong>Тип услуги:</strong> {{ activeToken.tokenType }}</p>
	<p><strong>Дата создания:</strong> {{ activeToken.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</p>
	<p><strong>Статус:</strong> {{ activeToken.status }}</p>
</div>

<ng-template #noActiveToken>
	<p>У вас нет активных талонов.</p>
</ng-template>