.section-title {
	font-size: 1.5rem;
	font-weight: 600;
	color: #111827;
}

.pagination-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
}

.data-table mat-header-row,
.data-table mat-row {
	height: 60px;
	/* Увеличенная высота строк */
}

.data-table .mat-column-id,
.data-table .mat-column-sortOrder {
	width: 16.67%;
	/* 25% / 1.5 = 16.67% */
	max-width: 16.67%;
	min-width: 16.67%;
}

.data-table .mat-column-name {
	width: 66.66%;
	/* Остаток ширины для столбца "Название" */
}

.modal-content--select {
	width: 100%;
	max-width: 1440px;
}

.modal-content--add {
	width: 100%;
	max-width: 500px;
}

@media (max-width: 768px) {
	.modal-content {
		padding: 1rem;
	}
}