/* src/app/components/pass/pass-print-queue/pass-print-queue.component.css */
.compact-container {
	width: 95%;
	margin: 0 auto;
}

.compact-container h2 {
	text-align: left;
	margin-bottom: 20px;
}

.compact-container form {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f9f9f9;
	display: flex;
	align-items: center;
	gap: 10px;
}

.compact-container label {
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	font-size: 14px;
}

table th,
table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	word-wrap: break-word;
}

table thead th {
	background-color: #007bff;
	color: #fff;
	border-bottom: 2px solid #ddd;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #e9ecef;
}

.form-select {
	display: inline-block;
	width: auto;
	margin-right: 10px;
}

.btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: background-color 0.3s, border-color 0.3s;
	margin: 5px;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
	color: #fff;
}

.btn-primary:hover {
	background-color: #0056b3;
	border-color: #0056b3;
}

.btn-success {
	background-color: #3CB371;
	border-color: #3CB371;
	color: #fff;
}

.btn-success:hover {
	background-color: #2e8b57;
	border-color: #2e8b57;
}

.pagination-container {
	display: flex;
	justify-content: left;
	align-items: left;
	gap: 5px;
	margin-top: 10px;
}

.pagination-squares {
	display: flex;
	gap: 5px;
}

.square {
	width: 30px;
	height: 30px;
	background-color: #e0e0e0;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	flex-shrink: 0;
	transition: background-color 0.2s;
}

.square:hover {
	background-color: #c0c0c0;
}

.square.active {
	background-color: #007bff;
	color: #fff;
}

.square.disabled {
	pointer-events: none;
	background-color: transparent;
	color: #aaa;
	cursor: default;
}

.pass-type-circle {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #ccc;
}