/* src/app/components/pass/pass-print-queue/pass-print-queue.component.css */
.compact-container {
	width: 95%;
	margin: 0 auto;
}

.pass-type-circle {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #ccc;
}