.main-content {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	background-color: #fefaf6;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.create-form {
	padding: 8px 0;
	margin-bottom: 16px;
}

mat-grid-list {
	width: 100%;
}

mat-grid-tile {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 6px;
	overflow: visible;
}

.form-group.full-width {
	width: 100%;
}

textarea {
	resize: both;
}

.note-textarea-field textarea.mat-input-element {
	width: 100%;
	box-sizing: border-box;
	min-height: 50px;
	max-height: 180px;
	overflow-y: auto;
	resize: vertical;
	padding: 6px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.4;
}

.note-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.form-group {
	margin-bottom: 16px;
	margin-top: 8px;
}

.form-group label {
	font-weight: 600;
	color: #6b7280;
	margin-bottom: 4px;
	display: block;
}

.form-control-file {
	width: 100%;
	padding: 8px;
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	background-color: #ffffff;
}

.hidden-file-input {
	display: none;
}

.add-icon {
	font-size: 40px;
	color: #6b7280;
	font-weight: bold;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 0px;
	min-height: 28px;
	margin-bottom: 10px;
}

.action-btn.btn-sm {
	display: block;
	font-size: 12px;
	padding: 4px 8px;
	width: 80px;
	background-color: #d32f2f;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
	visibility: visible;
	opacity: 1;
	border-radius: 4px;
	border: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	.add-icon {
		font-size: 32px;
	}
}