<form [formGroup]="contractorForm" (ngSubmit)="onSubmit()">
	<label for="FirstName">Имя:</label>
	<input id="FirstName" formControlName="FirstName" type="text" />
	<br /><br />

	<label for="LastName">Фамилия:</label>
	<input id="LastName" formControlName="LastName" type="text" />
	<br /><br />

	<label for="MiddleName">Отчество:</label>
	<input id="MiddleName" formControlName="MiddleName" type="text" />
	<br /><br />

	<label for="BirthDate">Дата рождения:</label>
	<input id="BirthDate" formControlName="BirthDate" type="date" />
	<br /><br />

	<label for="DocumentType">Тип документа:</label>
	<input id="DocumentType" formControlName="DocumentType" type="text" />
	<br /><br />

	<label for="PassportSerialNumber">Серия и номер паспорта:</label>
	<input id="PassportSerialNumber" formControlName="PassportSerialNumber" type="text" />
	<br /><br />

	<label for="PassportIssuedBy">Кем выдан:</label>
	<input id="PassportIssuedBy" formControlName="PassportIssuedBy" type="text" />
	<br /><br />

	<label for="PassportIssueDate">Дата выдачи:</label>
	<input id="PassportIssueDate" formControlName="PassportIssueDate" type="date" />
	<br /><br />

	<label for="ProductType">Тип продукции:</label>
	<input id="ProductType" formControlName="ProductType" type="text" />
	<br /><br />

	<!-- Новые поля для гражданства и национальности -->
	<label for="Citizenship">Гражданство:</label>
	<input id="Citizenship" formControlName="Citizenship" type="text" />
	<br /><br />

	<label for="Nationality">Национальность:</label>
	<input id="Nationality" formControlName="Nationality" type="text" />
	<br /><br />

	<label for="IsArchived">Архивировать:</label>
	<input id="IsArchived" formControlName="IsArchived" type="checkbox" />
	<br /><br />

	<label for="Photos">Фотографии:</label>
	<input id="Photos" type="file" (change)="onPhotoChange($event)" multiple />
	<div class="photo-previews">
		<div *ngFor="let photo of photoPreviews; let i = index" class="photo-thumbnail">
			<img [src]="photo" alt="Миниатюра фото" />
			<button type="button" (click)="removePhoto(i)">Удалить</button>
		</div>
	</div>
	<br /><br />

	<label for="DocumentPhotos">Документальные фото:</label>
	<input id="DocumentPhotos" type="file" (change)="onDocumentPhotosChange($event)" multiple />
	<div class="document-photo-previews">
		<div *ngFor="let photo of documentPhotoPreviews; let i = index" class="photo-thumbnail">
			<img [src]="photo" alt="Миниатюра документального фото" />
			<button type="button" (click)="removeDocumentPhoto(i)">Удалить</button>
		</div>
	</div>
	<br /><br />

	<button type="button" (click)="onSubmit()">Сохранить</button>
</form>