<div class="container">
	<h2>{{ isEditMode ? 'Редактировать контрагента' : 'Создать нового контрагента' }}</h2>
	<form [formGroup]="contractorForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="firstName">Имя</label>
			<input id="firstName" formControlName="firstName" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="lastName">Фамилия</label>
			<input id="lastName" formControlName="lastName" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="middleName">Отчество</label>
			<input id="middleName" formControlName="middleName" class="form-control" />
		</div>
		<div class="form-group">
			<label for="dateOfBirth">Дата рождения</label>
			<input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="documentType">Тип документа</label>
			<input id="documentType" formControlName="documentType" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="passportSeries">Серия паспорта</label>
			<input id="passportSeries" formControlName="passportSeries" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="passportNumber">Номер паспорта</label>
			<input id="passportNumber" formControlName="passportNumber" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="passportIssuedBy">Кем выдан паспорт</label>
			<input id="passportIssuedBy" formControlName="passportIssuedBy" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="passportIssueDate">Дата выдачи паспорта</label>
			<input type="date" id="passportIssueDate" formControlName="passportIssueDate" class="form-control"
				required />
		</div>
		<div class="form-group">
			<label for="productType">Тип продукции</label>
			<input id="productType" formControlName="productType" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="photo">Фото</label>
			<input type="file" (change)="onFileChange($event, 'photo')" class="form-control" />
		</div>
		<div class="form-group">
			<label for="documentPhotos">Фото документов</label>
			<input type="file" (change)="onFileChange($event, 'documentPhotos')" class="form-control" multiple />
		</div>
		<button type="submit" class="btn btn-primary">{{ isEditMode ? 'Сохранить изменения' : 'Создать' }}</button>
	</form>
</div>