<mat-toolbar class="app-header">
	<span class="spacer"></span>

	<div class="header-nav-icons">
		<ng-container *ngFor="let link of [
            queueLink,
            storeSearchLink,
            contractorsListLink,
            newContractorLink,
            storesListLink,
            reportsLink,
            logoutLink
        ]">
			<button mat-icon-button [routerLink]="link.routerLink ? link.routerLink : null"
				(click)="!link.routerLink ? handleLogout() : null" [matTooltip]="link.name" matTooltipPosition="below"
				[disableRipple]="true"> <ng-container [ngSwitch]="link.iconType">
					<mat-icon *ngSwitchCase="'material'">{{ link.iconValue }}</mat-icon>
					<span *ngSwitchCase="'customHtml'" [innerHTML]="getSafeHtml(link.iconValue)"
						class="custom-icon-wrapper"></span>
					<mat-icon *ngSwitchCase="'svgPath'" [svgIcon]="link.iconValue"></mat-icon>
					<mat-icon *ngSwitchDefault>help_outline</mat-icon>
				</ng-container>
			</button>
		</ng-container>
	</div>
</mat-toolbar>