<div class="main-content">
	<mat-card class="section-card">
		<mat-card-header>
			<mat-card-title class="section-title">Создание транзакций</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-card *ngIf="errorMessage" class="error-message mt-4" role="alert">
				<mat-icon>error_outline</mat-icon> {{ errorMessage }}
			</mat-card>

			<app-active-token-floating *ngIf="activeTokenData" [tokenData]="activeTokenData"
				(close)="activeTokenData = null"></app-active-token-floating>

			<div *ngFor="let formData of transactionForms; let i = index"
				class="mb-4 p-3 border rounded transaction-form-section">
				<h3>Документ {{ i + 1 }}</h3>
				<form [formGroup]="formData.form" class="create-form">
					<input type="hidden" formControlName="contractorId">
					<input type="hidden" formControlName="storeId">
					<input type="hidden" formControlName="passTypeId">

					<mat-grid-list cols="6" rowHeight="80px" gutterSize="8px">
						<mat-grid-tile>
							<button mat-raised-button color="primary" class="full-width" type="button"
								(click)="openStoreModal(i)">
								<mat-icon>store</mat-icon> Выбрать Здание
							</button>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Здание</mat-label>
								<input matInput [value]="formData.store?.building || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.store}" />
								<mat-icon matSuffix>business</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Этаж</mat-label>
								<input matInput [value]="formData.store?.floor || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.store}" />
								<mat-icon matSuffix>layers</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Линия</mat-label>
								<input matInput [value]="formData.store?.line || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.store}" />
								<mat-icon matSuffix>timeline</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Точка</mat-label>
								<input matInput [value]="formData.store?.storeNumber || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.store}" />
								<mat-icon matSuffix>pin_drop</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile></mat-grid-tile>
					</mat-grid-list>

					<mat-grid-list cols="6" rowHeight="80px" gutterSize="8px">
						<mat-grid-tile>
							<button mat-raised-button color="primary" class="full-width" type="button"
								(click)="openContractorModal(i)">
								<mat-icon>person_search</mat-icon> Выбрать Контрагента
							</button>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Фамилия</mat-label>
								<input matInput [value]="formData.contractor?.lastName || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.contractor}" />
								<mat-icon matSuffix>person</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Имя</mat-label>
								<input matInput [value]="formData.contractor?.firstName || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.contractor}" />
								<mat-icon matSuffix>person</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Отчество</mat-label>
								<input matInput [value]="formData.contractor?.middleName || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.contractor}" />
								<mat-icon matSuffix>person</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Серия и № паспорта</mat-label>
								<input matInput [value]="formData.contractor?.passportSerialNumber || 'Не выбрано'"
									readonly [ngClass]="{'invalid-field': !formData.contractor}" />
								<mat-icon matSuffix>badge</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile></mat-grid-tile>
					</mat-grid-list>

					<mat-grid-list cols="6" rowHeight="80px" gutterSize="8px">
						<mat-grid-tile></mat-grid-tile>

						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Должность</mat-label>
								<mat-select formControlName="position" class="full-width"
									[ngClass]="{'invalid-field': !formData.form.get('position')?.value}"
									(selectionChange)="onPositionChange(i, $event)">
									<mat-option value="" disabled>Выберите должность</mat-option>
									<mat-option *ngFor="let position of filteredPositions" [value]="position.name">
										{{ position.name }}
									</mat-option>
								</mat-select>
								<mat-icon matSuffix>work</mat-icon>
							</mat-form-field>
						</mat-grid-tile>

						<ng-container *ngIf="formData.form.get('position')?.value === manualEntryPositionName">
							<mat-grid-tile>
								<mat-form-field appearance="fill" class="full-width manual-input-field"
									floatLabel="auto">
									<mat-label>Другая должность</mat-label>
									<input matInput [value]="formData.modalPosition || ''" readonly />
								</mat-form-field>
							</mat-grid-tile>
							<mat-grid-tile>
								<button mat-raised-button color="primary" class="full-width" type="button"
									(click)="openPositionModal(i)">
									<mat-icon>list_alt</mat-icon> Выбрать должность
								</button>
							</mat-grid-tile>
							<mat-grid-tile colspan="2"></mat-grid-tile>
						</ng-container>

						<ng-container *ngIf="formData.form.get('position')?.value !== manualEntryPositionName">
							<mat-grid-tile colspan="4"></mat-grid-tile>
						</ng-container>
					</mat-grid-list>

					<app-position-modal [isVisible]="formData.form.get('showPositionModal')?.value" mode="select"
						(modalClose)="formData.form.get('showPositionModal')?.setValue(false)"
						(itemSelected)="positionSelected(i, $event)">
					</app-position-modal>

					<mat-grid-list cols="6" rowHeight="80px" gutterSize="8px">
						<mat-grid-tile>
							<button mat-raised-button color="primary" class="full-width" type="button"
								(click)="openPassTypeModal(i)">
								<mat-icon>vpn_key</mat-icon> Выбрать Тип пропуска
							</button>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Тип пропуска</mat-label>
								<input matInput [value]="formData.passType?.name || 'Не выбрано'" readonly
									[ngClass]="{'invalid-field': !formData.passType}" />
								<mat-icon matSuffix>card_membership</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Стоимость</mat-label>
								<input matInput [value]="formData.totalCost || '0'" readonly />
								<mat-icon matSuffix>attach_money</mat-icon>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Дата начала</mat-label>
								<input matInput [matDatepicker]="startDatePicker" formControlName="startDate"
									[ngClass]="{'invalid-field': !formData.form.get('startDate')?.value}" readonly
									(click)="startDatePicker.open()" (dateChange)="onStartDateChange($event, i)">
								<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
								<mat-datepicker #startDatePicker></mat-datepicker>
							</mat-form-field>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-form-field appearance="fill" class="full-width" floatLabel="auto">
								<mat-label>Дата окончания</mat-label>
								<input matInput [matDatepicker]="endDatePicker" formControlName="endDate" readonly
									[ngClass]="{'invalid-field': !formData.form.get('endDate')?.value}" />
								<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
								<mat-datepicker #endDatePicker></mat-datepicker>
							</mat-form-field>
						</mat-grid-tile>
					</mat-grid-list>

					<div class="d-flex justify-content-end gap-2 mt-4">
						<button mat-raised-button color="warn" type="button" (click)="removeTransactionForm(i)"
							*ngIf="i === 0 && transactionForms.length > 1" matTooltip="Удалить документ">
							<mat-icon>delete</mat-icon> Удалить документ
						</button>
						<button mat-raised-button color="accent" type="button" (click)="removeTransactionForm(i)"
							*ngIf="i === 0 && transactionForms.length === 1" matTooltip="Очистить форму">
							<mat-icon>clear_all</mat-icon> Очистить
						</button>
						<button mat-raised-button color="warn" type="button" (click)="removeTransactionForm(i)"
							*ngIf="i > 0" matTooltip="Удалить документ">
							<mat-icon>delete</mat-icon> Удалить документ
						</button>
					</div>
				</form>

				<app-contractor-select-modal *ngIf="formData.form.controls['showContractorModal'].value"
					(modalClose)="formData.form.controls['showContractorModal'].setValue(false)"
					(itemSelected)="contractorSelected(i, $event)">
				</app-contractor-select-modal>
				<app-store-select-or-add-modal *ngIf="formData.form.controls['showStoreModal'].value"
					fieldName="storeNumber" mode="select"
					(modalClose)="formData.form.controls['showStoreModal'].setValue(false)"
					(itemSelected)="storeSelected(i, $event)">
				</app-store-select-or-add-modal>
				<app-pass-type-modal *ngIf="formData.form.controls['showPassTypeModal'].value"
					(modalClose)="formData.form.controls['showPassTypeModal'].setValue(false)"
					(itemSelected)="passTypeSelected(i, $event)">
				</app-pass-type-modal>
			</div>

			<div class="form-actions-footer">
				<button mat-raised-button color="accent" type="button" (click)="addTransactionForm()"
					matTooltip="Добавить новый документ" class="full-width-button-footer">
					<mat-icon>add</mat-icon> Добавить документ
				</button>

				<div class="total-cost-display-footer">
					<mat-form-field appearance="fill" floatLabel="always" class="full-width">
						<mat-label>Итоговая стоимость</mat-label>
						<input matInput [value]="getTotalCost()" readonly />
						<mat-icon matSuffix>attach_money</mat-icon>
					</mat-form-field>
				</div>

				<button mat-raised-button color="primary" type="button" (click)="createTransaction()"
					matTooltip="Сохранить все транзакции" class="full-width-button-footer">
					<mat-icon>save</mat-icon> Сохранить
				</button>
			</div>
		</mat-card-content>
	</mat-card>
</div>