<!-- src/app/components/pass/pass-create/pass-create.component.html -->
<div class="container mt-4">
	<h2>Создать Пропуск</h2>

	<form [formGroup]="passForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="uniquePassId">Уникальный ID Пропуска</label>
			<input id="uniquePassId" formControlName="uniquePassId" class="form-control" />
			<div *ngIf="passForm.get('uniquePassId')?.invalid && passForm.get('uniquePassId')?.touched"
				class="text-danger">
				Уникальный ID пропуска обязателен.
			</div>
		</div>

		<div class="form-group">
			<label for="contractorId">ID Контрагента</label>
			<input id="contractorId" formControlName="contractorId" type="number" class="form-control" />
			<div *ngIf="passForm.get('contractorId')?.invalid && passForm.get('contractorId')?.touched"
				class="text-danger">
				ID контрагента обязателен.
			</div>
		</div>

		<div class="form-group">
			<label for="storeId">ID Торговой Точки</label>
			<input id="storeId" formControlName="storeId" type="number" class="form-control" />
			<div *ngIf="passForm.get('storeId')?.invalid && passForm.get('storeId')?.touched" class="text-danger">
				ID торговой точки обязателен.
			</div>
		</div>

		<div class="form-group">
			<label for="passTypeId">ID Типа Пропуска</label>
			<input id="passTypeId" formControlName="passTypeId" type="number" class="form-control" />
			<div *ngIf="passForm.get('passTypeId')?.invalid && passForm.get('passTypeId')?.touched" class="text-danger">
				ID типа пропуска обязателен.
			</div>
		</div>

		<div class="form-group">
			<label for="startDate">Дата Начала</label>
			<input id="startDate" formControlName="startDate" type="datetime-local" class="form-control" />
			<div *ngIf="passForm.get('startDate')?.invalid && passForm.get('startDate')?.touched" class="text-danger">
				Дата начала обязательна.
			</div>
		</div>

		<div class="form-group">
			<label for="endDate">Дата Окончания</label>
			<input id="endDate" formControlName="endDate" type="datetime-local" class="form-control" />
			<div *ngIf="passForm.get('endDate')?.invalid && passForm.get('endDate')?.touched" class="text-danger">
				Дата окончания обязательна.
			</div>
		</div>

		<div class="form-group">
			<label for="position">Должность</label>
			<input id="position" formControlName="position" class="form-control" />
		</div>

		<button type="submit" class="btn btn-success" [disabled]="passForm.invalid">Создать Пропуск</button>
	</form>
</div>