.container {
	margin-top: 20px;
}

.table {
	margin-top: 10px;
	border-collapse: collapse;
	width: 100%;
}

button {
	margin-right: 5px;
}

tr {
	transition: all 0.3s ease-in-out;
	/* Плавный переход */
}

tr:hover {
	background-color: #f2f2f2;
	/* Легкий серый оттенок при наведении */
	cursor: pointer;
}

td {
	vertical-align: middle;
	/* Выравнивание текста по вертикали */
	word-wrap: break-word;
	/* Перенос слов, если текст слишком длинный */
	padding: 8px;
	/* Отступы внутри ячеек */
}

th {
	text-align: left;
	padding: 8px;
	background-color: #007bff;
	color: #fff;
	/* Белый текст на синем фоне для заголовков */
}

th,
td {
	width: auto;
	/* Адаптивная ширина */
	border: 1px solid #ddd;
	/* Тонкая граница между ячейками */
}

tr.expanded-row {
	height: 40px;
	/* Увеличенная высота строки */
}

.color-preview {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #ccc;
	/* Для отображения цветного круга */
	vertical-align: middle;
}