<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Здание</th>
			<th>Этаж</th>
			<th>Линия</th>
			<th>Номер</th>
			<th>Контрагент</th>
			<th>Действия</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let store of stores">
			<td>{{ store.id }}</td>
			<td>{{ store.building }}</td>
			<td>{{ store.floor }}</td>
			<td>{{ store.line }}</td>
			<td>{{ store.number }}</td>
			<td>{{ store.contractorId }}</td>
			<td>
				<a [routerLink]="['/stores/details', store.id]" class="btn btn-info">Просмотр</a>
				<a [routerLink]="['/stores/edit', store.id]" class="btn btn-warning">Редактировать</a>
			</td>
		</tr>
	</tbody>
</table>