<div class="container mt-4">
	<h2>Детали записи № {{ position?.id }}</h2>

	<div class="form-group">
		<p><strong>Сортировка:</strong> {{ position?.sortOrder }}</p>
	</div>

	<div class="form-group">
		<p><strong>Название:</strong> {{ position?.name }}</p>
	</div>

	<div class="form-group">
		<p><strong>Архивирован: </strong> {{ position?.isArchived ? 'Да' : 'Нет' }}
		</p>
	</div>

	<div class="form-group">
		<button class="btn btn-primary" (click)="editPosition()">Редактировать</button>
	</div>
</div>