<div class="container contractor-details" *ngIf="contractor">
	<h2 class="text-center">Информация о контрагенте</h2>
	<div class="details-group">
		<p><strong>ID:</strong> {{ contractor.id }}</p>
		<p><strong>Фамилия:</strong> {{ contractor.lastName }}</p>
		<p><strong>Имя:</strong> {{ contractor.firstName }}</p>
		<p><strong>Отчество:</strong> {{ contractor.middleName }}</p>
		<p><strong>Дата Рождения:</strong> {{ contractor.birthDate }}</p>
		<p><strong>Гражданство:</strong> {{ contractor.citizenship }}</p>
		<p><strong>Национальность:</strong> {{ contractor.nationality }}</p>
		<p><strong>Тип Документа:</strong> {{ contractor.documentType }}</p>
		<p><strong>Номер телефона:</strong> {{ formatPhoneNumber(contractor.phoneNumber) }}</p>
		<p><strong>Серия и Номер Паспорта:</strong> {{ contractor.passportSerialNumber }}</p>
		<p><strong>Кем выдан паспорт:</strong> {{ contractor.passportIssuedBy }}</p>
		<p><strong>Дата выдачи паспорта:</strong> {{ contractor.passportIssueDate | date: 'dd.MM.yyyy' }}</p>
		<p><strong>Тип продукции:</strong> {{ contractor.productType }}</p>
		<p><strong>Архивирован:</strong> {{ contractor.isArchived ? 'Да' : 'Нет' }}</p>
		<p><strong>Дата создания анкеты:</strong> {{ contractor.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}</p>
		<p><strong>Порядок сортировки:</strong> {{ contractor.sortOrder }}</p>
	</div>

	<div class="form-group">
		<p><strong>Фото:</strong></p>
		<a *ngIf="getFirstPhoto()" [href]="getFirstPhoto()" target="_blank">
			<img [src]="getFirstPhoto()" alt="Фото контрагента" class="img-cont" />
		</a>
	</div>

	<div class="form-group">
		<p><strong>Фото документов:</strong></p>
		<div *ngIf="documentPhotoUrls.length" class="document-photo-previews">
			<div *ngFor="let photoUrl of documentPhotoUrls" class="document-photo-thumbnail">
				<a [href]="photoUrl" target="_blank">
					<img [src]="photoUrl" alt="Фото документа" />
				</a>
			</div>
		</div>
	</div>

	<div class="button-group">
		<button class="btn btn-primary" (click)="editContractor()">Редактировать</button>
	</div>
</div>