<div class="modal-overlay" (click)="closeModal()">
	<mat-card class="modal-content" (click)="stopPropagation($event)">
		<mat-card-header>
			<mat-card-title class="section-title">
				{{ mode === 'select' ? 'Выбрать' : 'Добавить' }} {{ fieldNameTranslated }}
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div *ngIf="mode === 'add'" class="add-form">
				<form [formGroup]="addForm">
					<mat-form-field appearance="fill" class="form-field">
						<mat-label>Введите название</mat-label>
						<input matInput formControlName="newItemName" placeholder="Введите название">
						<mat-icon matSuffix>description</mat-icon>
						<mat-error *ngIf="addForm.get('newItemName')?.invalid && addForm.get('newItemName')?.touched">
							Название обязательно.
						</mat-error>
					</mat-form-field>
					<div class="actions mt-2">
						<button mat-raised-button color="primary" class="action-btn" (click)="addItem()"
							[disabled]="addForm.invalid">Добавить</button>
						<button mat-stroked-button color="primary" class="action-btn"
							(click)="closeModal()">Отмена</button>
					</div>
				</form>
				<p *ngIf="errorMessage" class="error-message text-danger">{{ errorMessage }}</p>
			</div>

			<div *ngIf="mode === 'select'" class="search-section">
				<div class="search-form">
					<form [formGroup]="searchForm" (ngSubmit)="searchStores()">
						<div class="search-form-container">
							<mat-form-field appearance="fill" class="form-field">
								<mat-label>Здание</mat-label>
								<input matInput formControlName="Building" type="text" placeholder="Введите здание">
								<mat-icon matSuffix></mat-icon>
							</mat-form-field>
							<mat-form-field appearance="fill" class="form-field">
								<mat-label>Этаж</mat-label>
								<input matInput formControlName="Floor" type="text" placeholder="Введите этаж">
								<mat-icon matSuffix></mat-icon>
							</mat-form-field>
							<mat-form-field appearance="fill" class="form-field">
								<mat-label>Линия</mat-label>
								<input matInput formControlName="Line" type="text" placeholder="Введите линию">
								<mat-icon matSuffix></mat-icon>
							</mat-form-field>
							<mat-form-field appearance="fill" class="form-field">
								<mat-label>Торговая точка</mat-label>
								<input matInput formControlName="StoreNumber" type="text"
									placeholder="Введите номер торговой точки">
								<mat-icon matSuffix></mat-icon>
							</mat-form-field>
							<div class="actions mt-2">
								<button mat-raised-button color="primary" class="action-btn"
									type="submit">Искать</button>
								<button mat-stroked-button color="primary" class="action-btn" type="button"
									(click)="resetFilters()">Сбросить</button>
							</div>
						</div>
					</form>
				</div>

				<div *ngIf="totalPages > 1" class="pagination-section">
					<div class="pagination-container">
						<div class="pagination-squares">
							<span *ngFor="let page of visiblePages" class="square" [class.active]="page === currentPage"
								[class.disabled]="page === '...'" (click)="onPageClick(page)">
								{{ page }}
							</span>
						</div>
					</div>
				</div>

				<div class="table-section">
					<mat-table [dataSource]="items" class="data-table">
						<ng-container matColumnDef="id">
							<mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
							<mat-cell *matCellDef="let store">{{ store.id }}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="sortOrder">
							<mat-header-cell *matHeaderCellDef>Сортировка</mat-header-cell>
							<mat-cell *matCellDef="let store">{{ store.sortOrder }}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="building">
							<mat-header-cell *matHeaderCellDef>Здание</mat-header-cell>
							<mat-cell *matCellDef="let store">{{ store.building }}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="floor">
							<mat-header-cell *matHeaderCellDef>Этаж</mat-header-cell>
							<mat-cell *matCellDef="let store">{{ store.floor }}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="line">
							<mat-header-cell *matHeaderCellDef>Линия</mat-header-cell>
							<mat-cell *matCellDef="let store">{{ store.line }}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="storeNumber">
							<mat-header-cell *matHeaderCellDef>Номер точки</mat-header-cell>
							<mat-cell *matCellDef="let store">{{ store.storeNumber }}</mat-cell>
						</ng-container>
						<mat-header-row
							*matHeaderRowDef="['id', 'sortOrder', 'building', 'floor', 'line', 'storeNumber']"></mat-header-row>
						<mat-row
							*matRowDef="let row; columns: ['id', 'sortOrder', 'building', 'floor', 'line', 'storeNumber']"
							(click)="selectStore(row)"></mat-row>
					</mat-table>
					<div *ngIf="items.length === 0 && !errorMessage" class="text-center mt-4">
						<p class="text-muted">Нет торговых точек для отображения.</p>
					</div>
					<div *ngIf="errorMessage" class="text-danger">
						{{ errorMessage }}
					</div>
				</div>

				<div *ngIf="totalPages > 1" class="pagination-section">
					<div class="pagination-container">
						<div class="pagination-squares">
							<span *ngFor="let page of visiblePages" class="square" [class.active]="page === currentPage"
								[class.disabled]="page === '...'" (click)="onPageClick(page)">
								{{ page }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>