<div class="container mt-4">
	<h2>Список должностей</h2>
	<button (click)="addPosition()" class="btn btn-info btn-sm btn-equal">
		Добавить новую должность
	</button>
	<br />
	<button type="button" class="btn btn-link mb-3" (click)="toggleSearchForm()">
		{{ isExpanded ? 'Свернуть' : 'Развернуть' }} форму поиска
	</button>

	<!-- Форма поиска -->
	<form *ngIf="isExpanded" [formGroup]="searchForm" (ngSubmit)="searchPositions()" class="mb-4">
		<div class="row">
			<div class="col-md-4">
				<label for="Id">ID должности</label>
				<input id="Id" formControlName="Id" type="text" class="form-control" />
			</div>
			<div class="col-md-4">
				<label for="Name">Название:</label>
				<input id="Name" formControlName="Name" type="text" class="form-control" />
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-md-12 text-end">
				<button type="submit" class="btn btn-primary">Найти</button>
				<button type="button" class="btn btn-secondary" (click)="resetFilters()">Сбросить</button>
			</div>
		</div>
	</form>

	<!-- Выбор размера страницы (Reactive FormControl) -->
	<div class="d-flex justify-content-between align-items-center mb-3">
		<div>
			<label for="pageSize">Элементов на странице:</label>
			<select id="pageSize" class="form-control w-auto d-inline-block" [formControl]="pageSizeControl">
				<option *ngFor="let size of pageSizeOptions" [value]="size">
					{{ size }}
				</option>
			</select>
		</div>
		<p>Всего страниц: {{ totalPages }}</p>
	</div>

	<!-- Пагинация (верхняя) -->
	<div *ngIf="totalPages > 1" class="pagination-container">
		<div class="pagination-squares">
			<div *ngFor="let page of visiblePages" class="square" [class.active]="page === currentPage"
				[class.disabled]="page === '...'" (click)="onPageClick(page)">
				{{ page }}
			</div>
		</div>
	</div>
	<br />

	<!-- Таблица -->
	<table class="table table-bordered table-hover" *ngIf="displayedPositions.length > 0">
		<thead>
			<tr>
				<th>Сортировка</th>
				<th>ID</th>
				<th>Название</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let position of displayedPositions">
				<td>{{ position.sortOrder }}</td>
				<td>{{ position.id }}</td>
				<td>{{ position.name }}</td>
				<td>
					<button class="btn btn-info btn-sm btn-equal" (click)="viewPositionDetailsInNewTab(position.id)">
						Просмотреть
					</button>
					<button class="btn btn-secondary btn-sm btn-equal" (click)="editPosition(position.id)">
						Редактировать
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<p *ngIf="displayedPositions.length === 0">Нет записей для отображения.</p>

	<!-- Пагинация (нижняя) -->
	<div *ngIf="totalPages > 1" class="pagination-container">
		<div class="pagination-squares">
			<div *ngFor="let page of visiblePages" class="square" [class.active]="page === currentPage"
				[class.disabled]="page === '...'" (click)="onPageClick(page)">
				{{ page }}
			</div>
		</div>
	</div>
</div>