<div *ngIf="showContent()" class="app-layout">
	<mat-sidenav-container class="app-sidenav-container">
		<mat-sidenav mode="side" opened class="sidebar-container-wrapper">
			<app-sidebar></app-sidebar>
		</mat-sidenav>

		<mat-sidenav-content class="content-container">
			<app-header></app-header>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

<div *ngIf="!showContent()" class="container mt-5">
	<router-outlet></router-outlet>
</div>

<app-active-token-floating *ngIf="showActivePanel" [tokenData]="activeToken"
	(close)="onCloseTokenPanel()"></app-active-token-floating>

<div class="local-overlay-root">
</div>